.agents
docs
AGENTS.md
exclude-list.txt
figures/attention_analysis_unmodified_frozen_lora_600/
current_folder_numbers.txt
skills-lock.json
exclude_300_TrainingFile.csv
.scratch
DS_store
src/.DS_Store
src/scripts/__pycache__/
src/modules/__pycache__/
src/notebooks/.DS_Store